@*@model IEnumerable<LiveExam.BAL.CandidateModel>*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <style type="text/css">
        body {
            font-family: Arial;
            margin:2px;
            padding:10px;
            font-size: 14pt;
        }
    </style>
</head>
<body>
    
    <div style="width: 500px">
        <br />
        <table id="tblCustomers" cellpadding="0" cellspacing="0" border="1" style="margin-top:20px"  >

            <thead>
                <tr>
                    <th> Full Name</th>
                    <th> Gender</th>
                    <th>EmailId</th>
                    <th>College Name</th>
                    <th>Mobile</th>
                    <th>Percentage</th>
                    <th>IsExamComplete </th>
                    <th>IsActive</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="../../Scripts/jquery-3.3.1.min.js"></script>
   
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Home/AjaxMethodForCandidate",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        });
        function OnSuccess(response) {
            $("#tblCustomers").DataTable(
                {
                    bLengthChange: true,
                    lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response,
                    columns: [{ 'data': 'FullName' },
                    { 'data': 'Gender' },
                        { 'data': 'EmailId' },
                        {'data':'CollegeName'},
                    { 'data': 'Mobile' },
                    { 'data': 'Percentage' },
                    { 'data': 'IsExamComplete' },
                    { 'data': 'IsActive' }
                    ]
                });
        };
    </script>
</body>
</html>